$bgcolor:#D63C33;
*{
    margin:0;
    padding:0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
}
html, body, .wrap{
    width:100%;
    height:100%;
    font-size: .14rem;
}
.wrap{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header{
    width:100%;
    height:.45rem;
    background: $bgcolor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 .1rem;
    i{
        color:#fff;
    }
    .inputTop{
        position: relative;
        padding: .1rem .4rem;
        width:100%;
        height:100%;
       
        input{
            width:100%;
            height:100%;
            border:0;
            border-radius:.1rem;
            text-indent: .8rem;
        }
        i{
            position: absolute;
            top:.13rem;
            left:1rem;
            color:#333;
        }
    }

}
nav{
    width:100%;
    height:.45rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    span{
        padding-bottom: .05rem;
    }
    .action{
        color:$bgcolor;
        border-bottom: 1px solid $bgcolor;
    }
}
section{
    flex:1;
    overflow: hidden;
    .cont{
        width:100%;
        height: 100%;
        .contion{
            width:100%;
            img{
                width:100%;
            }
        }
        .list{
            width:100%;
            height:auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                i{
                    width:.3rem;
                    height:.3rem;
                    border:1px solid #D63C33;
                    border-radius: 50%;
                    color:#D63C33;
                    text-align: center;
                    line-height: .3rem;
                    margin:.1rem 0;
                }
            }
        }
        p{
            width:100%;
            height:.45rem;
            line-height: .45rem;
            padding:0 .1rem;
            span{
                font-size: .18rem;
            }
            i{
                font-size: .18rem;
            }
        }
       .cont-cont{
           width:100%;
           height:auto;
           display: flex;
           flex-wrap: wrap;
           .cont-img{
               width:31.5%;
               img{
                   width:100%;
                   height:auto;
               }
           }
           :nth-child(2){
               margin:0 .1rem;
           }
           :nth-child(5){
            margin:0 .1rem;
            }
       } 
    }
}
footer{
    width:100%;
    height:.45rem;
    background: #2D2827;
}